@tailwind base;
@tailwind components;
@tailwind utilities;

/* Updated for Vercel deployment */
body {
	font-family: DMSans;
	background-color: #eaeefe;
	overflow-x: hidden;
}

body::-webkit-scrollbar {
	width: 0;
}

@font-face {
	src: url("../font/DMSans.ttf");
	font-family: DMSans;
}

@layer utilities {
	.heading {
		@apply text-[64px] lg:text-[54px] md:text-[45px] sm:text-[36px] xm:text-[32px];
	}

	.paragraph {
		@apply text-[22px] lg:text-[20px] md:text-[18px] sm:text-[17px] xm:text-[17px];
	}

	.padding-x {
		@apply px-[70px] lg:px-[50px] md:px-[40px] sm:px-[20px] xm:px-[20px];
	}
}